.banner {
  background-image: url(../../../assets/img/fabric.jpeg);
  width: 100%;
  height: calc(100vh - 128px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  padding-top: 20%;
  text-shadow: #070707 5px 5px 4px;
}